NEXT_PUBLIC_SUPABASE_URL=https://qujinbsslmyaltfgsjzb.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable__5XnXRk3axoR8XpC-FpIKw_7qqJESNO
NEXT_PUBLIC_MAPTILER_KEY=nYFRAuIKollk1eLtD1Yz
TELGO_APP_URL=http://localhost:3000
SUPABASE_SECRET_KEY=your-supabase-server-secret-key
MOBILE_SESSION_SECRET=change-me-mobile-session-secret
