NEXT_PUBLIC_SUPABASE_URL=https://qujinbsslmyaltfgsjzb.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable__5XnXRk3axoR8XpC-FpIKw_7qqJESNO
NEXT_PUBLIC_MAPTILER_KEY=nYFRAuIKollk1eLtD1Yz
RESEND_API_KEY=your-resend-api-key
RESEND_FROM_EMAIL="Telgo Hub <onboarding@resend.dev>"
